# Arquivos e pastas a ignorar
.vs/
bin/
obj/
packages/
*.user
*.suo
*.cache
*.log
/Projeto RH-HOTELARIA/Properties/Settings.Designer.cs
/Projeto RH-HOTELARIA/Properties/Settings.settings
/Projeto RH-HOTELARIA/App.config
